<div class="row">
	<div class="col-md-12">
		<p>
			<h1>Welcome to WorkFlow.</h1>
			Helping you exercise in a simpler way :)
		</p>

	</div>
</div>

<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
	</div>
</div>